html
{
	font-size: 18px;
}

h1
{
	color: black;
	font-family: sans-serif;
	font-size: 2em;
	font-weight: 600;
	margin: 0.2em 0;
}

.container
{
	max-width: 700px;
	margin: 2em auto;
}

.messages-container
{
	margin: 2em 1em;
}

.response-container
{
	margin: 2em 1em;
}

.messages
{
	margin: 1em 0;
}

.messages li
{
	margin: 1em 0;
}

.messages time
{
	color: #949494;
	font-family: sans-serif;
	margin-bottom: 0.3em;
	font-size: 0.9em;
	display: block;
}

.messages p
{
	line-height: 1.2em;
	margin: 0.5em 0;
}

button:focus 
{
	outline:0;
}

.message-details span
{
	color: #949494;
	font-size: 0.8em;
	font-family: sans-serif;
	margin-right: 1em;
}

.message-details a
{
	font-family: sans-serif;
	font-size: 0.8em;
	color: #949494;
	text-decoration: none;
}

.message-details a:hover
{
	text-decoration: underline;
}

.message-details a:visited
{
	text-decoration: none;
}

button
{
	font-size: 0.8em;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	margin-right: 1em;
	background-color: white;
	margin-top: 0.8em;
}

.messages button.details
{
	color: blue;
	border-color: blue;	
}

.messages button.details:hover
{
	color: white;
	background-color: blue;	
}


.messages button.delete
{
	color: red;
	border-color: red;
	background-color: white;
}

.messages button.delete:hover
{
	color: white;
	background-color: red;
}

textarea
{
	padding: .5em;
	font-size: 0.8em;
	font-family: sans-serif;
	margin-top: 1em;
	width: 100%;
	max-width: 100%;
	border-radius: 5px;
}

button.submit
{
	font-size: 1em;
	padding: 0.5em;
	border-radius: 15px;
}

button.submit:hover
{
	color: white;
	background-color: black;
}